@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Losowe Dane Osoby";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<person>

    ID: @ViewBag.ID <br>
    Dane Osobowe: <br>
    @ViewBag.Imie @ViewBag.Nazwisko <br>
    @ViewBag.DataUrodzenia @ViewBag.Pesel <br>
    Adres: <br>
    @ViewBag.Ulica @ViewBag.Numer <br>
    @ViewBag.Kod @ViewBag.Miasto <br>
    Dane logowania: <br>
    Login: @ViewBag.Login <br>
    Hasło: @ViewBag.Haslo
</person>

<address>

</address>